#ending-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation-name: grow;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes grow {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
